#H{
    background-color: tomato;
}
#I{
    background-color: white;
}
#D{
    background-color: green;
}
h1{
    text-align: center;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    padding-left: 300px;
    margin-top: -2px;
}
.cloud{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-position: center;
    background-image: url(./sky.jpg);
    position: relative;
    overflow-x: hidden;
}
.building{
    width: 100%;
    height: 256px;
    background-image: url(./city.png);
    z-index: 1;
    position: absolute;
    bottom: 200px;
}
.road{
    width: 500%;
    height: 200px;
    background-image: url(./road.jpg);
    position: absolute;
    bottom:0px;
    z-index: 1;
    animation: car 1s infinite linear;
    background-repeat: repeat-x;
}
@keyframes car {
    100%{
         transform: translateX(-1500px);
    }
    
}
.car{
    background-image: url(./Hnet.com-image\ \(1\).png);
    z-index: 1;
    height: 156px;
    width: 446px;
    position: absolute;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 53px;
    margin-left: 330px;
}
.back-wheel{
    height: 81px;
    width: 81px;
    position: absolute;
    z-index: 1;
    bottom: 27px;
    margin-left: 370px;
    background-repeat: no-repeat;
}
.front-wheel{
    height: 81px;
    width: 81px;
    position: absolute;
    z-index: 1;
    bottom: 27px;
    margin-left: 645px;
    background-repeat: no-repeat;
}
.wheel img{
    animation: wheel 1s linear infinite;
}
@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }
    
}
.sun img{
    height: 130px;
    width: 130px;
    margin-left: 1000px;
    margin-top: 60px;
    animation: sun 10s infinite linear;
}
@keyframes sun {
    100%{
        transform: rotate(360deg);
        transform: translateX(-1500px);
    }

    
}
.flag img{
    height: 130px;
    width: 130px;
    position: absolute;
    left: 590px ;
    bottom: 102px;
    z-index: 2;

}